/* .TodoNavbar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
  }
  
  .title-input {
    margin-right: 30px;
    border-radius: 10px;
    padding: 10px 0;
    text-align: center;
  }
  
  .text-input {
    border-radius: 10px;
    padding: 10px 0;
    text-align: center;
  }
  
  .submit-btn {
    margin-left: 30px;
    padding: 10px 15px;
    text-align: center;
  } */